<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">All Events</div>
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Competitions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="event in allEvents">
                        <!--<tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.location }}</td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.competitions }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-fw fa-edit"></i>
                                </button>

                                <button type="button" class="btn btn-chartjs btn-sm">
                                    <i class="fa fa-fw fa-balance-scale"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-fw fa-remove"></i>
                                </button>
                            </td>
                        </tr>-->
                        <tr>
                            <th>1</th>
                            <th>South Carolina Law Enforcement Torch Run Polar Plunges</th>
                            <th>Statewide South Carolina USA</th>
                            <th>1 - 28 Feb 2018</th>
                            <th>Multiple Polar Plunge fundraising event take place across the state, mostly during the month of March. Many Unified Champion Schools get involved with the events as a way to raise money and awareness for both Special Olympics South Carolina on a state level as well as their individual school’s Special Olympics program. Youth and other supporters take the plunge into frigid bodies of water on behalf of Special Olympics.</th>
                            <th>Not defined</th>
                            <th>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-fw fa-edit"></i>
                                </button>
                               
                                <button type="button" class="btn btn-chartjs btn-sm">
                                    <i class="fa fa-fw fa-bar-chart"></i>
                                </button>

                                <button type="button" class="btn btn-chartjs btn-sm">
                                    <i class="fa fa-fw fa-balance-scale"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-fw fa-remove"></i>
                                </button>
                            </th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>State Winter Games</th>
                            <th>Exeter RI USA</th>
                            <th>03 Feb 2018</th>
                            <th>55 athletes from across Rhode Island will compete in the State Winter Games at Yawgoo Valley in Exeter, RI on Saturday, February 3rd. Sports include Alpine Skiing, Cross Country Skiing, Snowboarding and Snowshoeing. Medals will be awarded after final competitions.</th>
                            <th>Alpine Skiing, Cross Country Skiing, Snowboarding and Snowshoeing</th>
                            <th>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-fw fa-edit"></i>
                                </button>

                                <button type="button" class="btn btn-chartjs btn-sm">
                                    <i class="fa fa-fw fa-bar-chart"></i>
                                </button>

                                <button type="button" class="btn btn-chartjs btn-sm">
                                    <i class="fa fa-fw fa-balance-scale"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-fw fa-remove"></i>
                                </button>
                            </th>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>Special Olympics Burkina Faso National Games</th>
                            <th>Ouagadougou Burkina Faso</th>
                            <th>23 - 24 Feb 2018</th>
                            <th>The event games will take place from 23 - 24 Feb 2018 with the participation of around 1800 athletes competing in 16 different sports , 450 coaches, 3000 volunteers and 100 honored guests. On the sidelines of the games several initiatives will be held: Healthy athletes program- Families forum- Young athletes demo- Youth Summit.</th>
                            <th>Athletics, Basketball, Bocce, Cycling, Football, and Swimming</th>
                            <th>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-fw fa-edit"></i>
                                </button>

                                <button type="button" class="btn btn-chartjs btn-sm">
                                    <i class="fa fa-fw fa-bar-chart"></i>
                                </button>

                                <button type="button" class="btn btn-chartjs btn-sm">
                                    <i class="fa fa-fw fa-balance-scale"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-fw fa-remove"></i>
                                </button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
