<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge warning">
                <i class="fa fa-info-circle"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">2018 Special Olympic Middle East - North Africa 9th Regional Games</h4>
                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i> Started 2 hours ago</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Ranking is not available yet</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge danger">
                <i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Louisiana State Indoor Games</h4>
                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i> Finished 1 hour ago</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Ranking is NOW available</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info">
                <i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Special Olympics Zimbabwe SO50 National Games</h4>
                </div>
                <div class="timeline-body">
                    <p>28-29 Feb 2018</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Special Olympics Australia National Games</h4>
                </div>
                <div class="timeline-body">
                    <p>28 Feb 2018</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info">
                <i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">2018 Special Olympic Middle East - North Africa 9th Regional Games</h4>
                </div>
                <div class="timeline-body">
                    <p>10-15 Nov 2017</p>
                    <hr>
                </div>
            </div>
        </li>
    </ul>
</div>
