<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Special Olympics Login</h1>
            <form name="myForm" role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input [(ngModel)]="email" type="email" name="email"
                               class="form-control input-underline input-lg" id="email-login" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" name="pass" class="form-control input-underline input-lg" id="pass-login"
                               placeholder="Password">
                    </div>
                </div>
                <button [disabled]="email.length==0 || email.indexOf('@')==-1 || email.indexOf('@')==(email.length - 1)"
                        class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">
                    Log In
                </button>
                <button class="btn rounded-btn" [routerLink]="['/signup']">Register</button>
            </form>
        </div>
    </div>
</div>
