<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular5</h1>
            <form name="myForm" role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="register-name"
                               placeholder="Full Name" required>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg" id="register-email"
                               placeholder="Email" required>
                        <!--<span style="color:red" ng-show="myForm.register-email.$dirty && myForm.register-email.$invalid">-->
                        <!--<span ng-show="myForm.register-email.$error.required">Username is required.</span>-->
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="register-pass"
                               placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="register-pass2"
                               placeholder="Repeat Password" required>
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>
