<div class="login-page" [@routerTransition]>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAVjHRAq955xcz_uHfIRCfLLYqNpIKVQ_s",
            authDomain: "test-auth-28f0b.firebaseapp.com",
            databaseURL: "https://test-auth-28f0b.firebaseio.com",
            projectId: "test-auth-28f0b",
            storageBucket: "test-auth-28f0b.appspot.com",
            messagingSenderId: "676980497855"
        };
        firebase.initializeApp(config);
    </script>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular5</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Full Name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg" id="myEmail" placeholder="Email"
                            required
                        >
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="myPass1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="myPass2" placeholder="Repeat Password">
                    </div>
                </div>
                <button
                    (click)="signUp()"
                    class="btn rounded-btn" > Register </button>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>
