<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular5</h1>
            <form name="myForm" role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input [(ngModel)]="name" name="name" [ngModelOptions]="{standalone: true}" type="text"
                               class="form-control input-underline input-lg" id="register-name"
                               placeholder="Full Name" required>
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="email" name="email" [ngModelOptions]="{standalone: true}" type="email"
                               class="form-control input-underline input-lg" id="register-email"
                               placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="pass" name="pass" [ngModelOptions]="{standalone: true}" type="password"
                               class="form-control input-underline input-lg" id="register-pass"
                               placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="pass2" name="pass2" [ngModelOptions]="{standalone: true}" type="password"
                               class="form-control input-underline input-lg" id="register-pass2"
                               placeholder="Repeat Password" required>
                    </div>
                </div>
                <button [disabled]="email.length == 0 ||
                                    email.indexOf('@') == -1 ||
                                    email.indexOf('@') == email.length - 1 ||
                                    pass.length == 0 ||
                                    pass != pass2 ||
                                    name.length == 0"
                        class="btn rounded-btn" [routerLink]="['/dashboard']"> Register
                </button>&nbsp;
                <button class="btn rounded-btn" [routerLink]="['/login']"> Log in</button>
            </form>
        </div>
    </div>
</div>
